@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAF7F0;
    color: #2A2A21;   
}

.head_text{
    color: #2A2A21;
    font-family: Julius Sans One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head_text_m{
    
    font-family: Julius Sans One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body_text{
    color: #2A2A21;
    text-align: justify;
    font-family: Crimson Text;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 250% */
}

.cream{
    color: #FAF7F0;
}

.dark{
    color: #2A2A21;
}

.btn{
    color: #FAF7F0;
    background-color: #2A2A21;
    border-radius: 32px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: Julius Sans One;

    padding: 16px;
    width: max-content;
}